.login {
    background: rgba(252, 250, 246, 0.8);
    font-size: 1.4rem;
}

body {
    /*font-family: sans-serif;*/
    font-family: LetraInterna;
    background-color: #f9f9f9;
    color: #222;
    margin: 0;
}

main {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.25rem;
    border: 1px solid #666;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.login button {
    margin-top: 1.5rem;
    padding: 0.75rem;
    width: 100%;
    background-color: #f9a83b;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: LetraInterna;
    text-transform: uppercase;
}

.login button:focus {
    outline: 3px solid #7a230a;
    /* indicador visible de foco */
}

#recuperar-pass {
    display: inline-block;
    margin-top: 1rem;
    color: #7a230a;
}

#recuperar-pass:focus {
    outline: 3px solid #7a230a;
}
